ecoli-pacbio/ecoli.seqStore/blobs.0003
ecoli-pacbio/unitigging/ecoli.ctgStore/partition.0001
ecoli_filtered_0.60.fastq
gatk-4.3.0.0.zip
gatk-4.3.0.0/gatk-package-4.3.0.0-local.jar
gatk-4.3.0.0/gatk-package-4.3.0.0-spark.jar
pacbio.fastq
